@import url(./style.css);

footer img{
	width: 5rem;
	margin-bottom: 1.5rem;
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--color2);
	color: var(--color1);
	padding: 2.5rem 1.5rem;
}
footer p{
	font-size: 1.2rem;
	opacity: .7;
	width: 50%;
	text-align: center;
}

@media (max-width: 500px) {
	footer p{
		width: 90%;
	}
}